MONGODB_URI=mongodb://localhost:27017/monochrome_translations
MONGODB_DB=monochrome_translations
REDIS_URL=rediss://default:gQAAAAAAAnKqAAIgcDI5YTU4MGQ2MGZlODc0ZTA3YmRlYjg1ZDdjYWJkZTAyMw@dear-swan-160426.upstash.io:6379
ENCRYPTION_SECRET=RNswOxoCbSFZlhao4cnz4IhY1YeDJym0
SESSION_SECRET=oef5t2omOclFC5F01MIetlIgdoEJf5GI
NEXT_PUBLIC_APP_URL=http://localhost:3000
